<template>
  <div >
    <h4>Vos leviers d'e-santé</h4>
    <small> Vos préférences : Cochez le type de levier auquel vous voulez accéder </small>
    <small>
      <q-checkbox v-model="type[0]" label="À lire" color="yellow" style="margin-left:30px" />
      <q-checkbox v-model="type[1]" label="À faire" color="secondary" style="margin-left:5px" />
      <q-checkbox v-model="type[2]" label="À connecter"  color="red" style="margin-left:5px" />
    </small>

    <br/><br/><small>Cochez la catégorie de levier que vous voulez voir </small>
    <small>
      <q-checkbox v-model="cat[0]" label="Levier personnalisés" color="primary" val="1" style="margin-left:30px" />
      <q-checkbox v-model="cat[1]" label="Leviers théoriquement adaptés" val="2" color="primary" style="margin-left:5px" />
    </small>
    <q-list >
      <q-list-header v-if="cat[0]" >Leviers personnalisés</q-list-header>
        <q-item v-if="cat[0] && type[1]">
          <q-item-side image="statics/mangerbouger.png" />
          <q-item-main label="Manger-bouger.fr" />
        </q-item>
        <q-item v-if="cat[0] && type[1]">
          <q-item-side image="statics/tabac.png" />
          <q-item-main>
            <q-item-tile label>tabac-info-service</q-item-tile>
            <q-item-tile sublabel>Pour vous accompagner dans votre réduction de consommation de tabac</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item v-if="cat[0] && type[2]" multiline>
          <q-item-side image="statics/balance.jpg" />
          <q-item-main>
            <q-item-tile label>Balance connectée</q-item-tile>
            <q-item-tile sublabel lines="3">
              Pour vous accompagner dans le suivi régulier de votre poids.
            </q-item-tile>
          </q-item-main>
        </q-item>
        <q-item v-if="cat[0] && type[0]">
          <q-item-side left icon="school" color="primary" inverted/>
          <q-item-main inset label='article "La prégnance psychologique du diabete sur notre alimentation "' sublabel="Un  article d'une dizaine de page pour vous aidez à comprendre l'effet du diabete sur votre alimentation." />
        </q-item>
        <q-item-separator />

        <q-list-header v-if="cat[1]">Leviers théoriquement adaptés</q-list-header>
        <q-item multiline v-if="cat[1] && type[2]">
          <q-item-side image="statics/montre.jpg" />
          <q-item-main>
            <q-item-tile label>Montre connectée</q-item-tile>
            <q-item-tile sublabel lines="3">
              Pour vous accompagner dans votre suivi de votre activité physique
            </q-item-tile>
          </q-item-main>
        </q-item>
        <q-item v-if="cat[1] && type[1]">
          <q-item-side image="statics/alcool.png" />
          <q-item-main label="alcoolinfoservice.fr" sublabel="Pour vous renseigner sur les problèmes d'alcool" />
        </q-item>
        <q-item v-if="cat[1] && type[0]">
          <q-item-side left icon="school" color="primary" inverted/>
          <q-item-main  label='article "La reprise du sport au quotidien"' sublabel="Pour vous aidez à reprendre en main votre activité physique" />
        </q-item>
      </q-list>

  </div>
</template>

<style>
</style>

<script>
export default {
  name: 'Inm',
  data () {
    return {
      slide: 0,
      lorem: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, ratione eum minus fuga, quasi dicta facilis corporis magnam, suscipit at quo nostrum! Repellendus sed totam earum exercitationem, veritatis rerum? Aliquid.',
      cat:[true,true],
      type:[true,true,true]

    }
  },
  methods: {

  }

}
</script>
