<template>
  <div >
    <h4>Vos leviers d'e-santé</h4>
    <small> Vos préférences : Cochez le type de levier auquel vous voulez accéder </small>
    <small>
    <q-checkbox v-model="type" label="À lire" color="yellow" val="1" style="margin-left:30px" />
    <q-checkbox v-model="type" label="À faire" val="2" color="secondary" style="margin-left:5px" />
    <q-checkbox v-model="type" label="À connecter" val="3" color="red" style="margin-left:5px" />
    </small>
    <q-carousel
      color="white"
      quick-nav
      height="300px"
    >
      <q-carousel-slide class="text-white bg-primary row flex-center">
        <div class="q-display-2">INM n°1</div>
      </q-carousel-slide>
      <q-carousel-slide class="text-white bg-secondary row flex-center">
        <div class="q-display-2">INM n°2</div>
      </q-carousel-slide>
      <q-carousel-slide class="text-white bg-primary">
        <div v-for="n in 7" :key="`custom-${n}`" class="q-ma-sm">
          {{ lorem }}
        </div>
      </q-carousel-slide>
      <q-carousel-slide img-src="statics/mangerbouger.png" />
      <q-carousel-slide>
        <q-video
          class="absolute-full"
          src="https://www.youtube.com/embed/F70VTrtDTm4?rel=0"
        />
      </q-carousel-slide>
      <q-carousel-slide img-src="statics/montre.jpg" />
      <q-carousel-slide img-src="statics/tabac.png" />

      <q-carousel-control slot="control-nav" slot-scope="carousel" :offset="[18, 52]">
        <q-btn
          @click="carousel.previous"
          :disable="!carousel.canGoToPrevious"
          color="amber" text-color="black"
          icon="keyboard_arrow_left"
          round dense
          class="q-mr-sm"
        />
        <q-btn
          @click="carousel.next"
          :disable="!carousel.canGoToNext"
          color="amber" text-color="black"
          icon="keyboard_arrow_right"
          round dense
        />
      </q-carousel-control>

      <q-btn
        slot="quick-nav"
        slot-scope="props"
        color="white"
        flat
        dense
        :label="`${props.slide + 1}`"
        @click="props.goToSlide()"
        :class="{inactive: !props.current}"
      />
    </q-carousel>
  </div>
</template>

<style>
</style>

<script>
export default {
  name: 'Inm',
  data () {
    return {
      slide: 0,
      lorem: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, ratione eum minus fuga, quasi dicta facilis corporis magnam, suscipit at quo nostrum! Repellendus sed totam earum exercitationem, veritatis rerum? Aliquid.',
      filtre:false,
      type:[]

    }
  },
  methods: {

  }

}
</script>
