<template>
  <div >
    <h2>Profil</h2>
    
    <p class="q-mt-xl" >Bilan</p>
    <p class="q-ml-xl content-between">Alcool : <q-rating v-model="r1" :max="5" size="25px" :icon="icone[0]" color='orange' readonly /></p>
    <p class="q-ml-xl content-between">Tabac :  <q-rating v-model="r2" :max="5" size="25px" :icon="icone[1]" color='red' readonly /></p>
    <p class="q-ml-xl content-between">Alimentation :<q-rating v-model="r3" :max="5" size="25px" :icon="icone[2]" color='blue' readonly /></p>
    <p class="q-ml-xl content-between">Activité Physique :<q-rating v-model="r4" :max="5" size="25px" :icon="icone[3]" color='red' readonly /></p>
    <p class="q-ml-xl content-between">Autre :<q-rating v-model="r5" :max="5" size="25px" :icon="icone[4]" color='blue' readonly /></p>

    <p class="q-mt-xl" >Accéder aux questionnaires</p>
    <q-btn-group class="q-mb-xl" outline >
      <q-btn outline color="cyan-7" label="Comportement" @click="clh"/>
      <q-btn outline color="blue-7" label="Clinique" @click="clh"/>
      <q-btn outline color="indigo-7" label="Social" @click="clh"/>
    </q-btn-group>
  </div>
</template>

<style>
</style>

<script>
export default {
  name: 'Profil',
  data () {
    return {
      k:0,
      sex:"",
      kmin:0,
      kmax:100,
      coul:"orange",
      opti:[
          {label: 'un Homme',value: 2},
          {label: 'une Femme',value: 1}
          ],
      g1:[],
      r1:3,
      r2:1,
      r3:4,
      r4:2,
      r5:5,
      icone:["sentiment very satisfied","sentiment very dissatisfied","sentiment very satisfied","sentiment very dissatisfied","sentiment very satisfied"]

    }
  },
  methods: {
    changecoul:function(){this.coul=(this.k<26?"red":(this.k<60?"yellow":"blue"))},
    clh:function(){alert('Marco')}

  }

}
</script>
