<template>
    <q-card inline class="q-ma-sm" :color="coul">
      <q-card-media overlay-position="full">

          <img :src="photo">


        <q-card-title slot="overlay">
          {{titre}}
          <span slot="subtitle">{{stitre}}</span>
          <q-btn @click="marco" style="width:100%;height:300%;" flat />
        </q-card-title>
      </q-card-media>
      <q-modal v-model="mode" maximized style="height:736px;width:414px;margin:auto auto;">
        <h4>Questionnaire {{titre}}</h4>
        <p>Voici une liste de problème de santé. Indiquez ici ceux dont vous souffrez ou avez souffert au cours des 12 derniers mois</p>
        <article class="row">
          <p class='col-8'>Hypertension arterielle</p>
          <q-toggle class='col-4' v-model="b1" color="secondary" true-value="Oui" :label="b1" false-value="Non"/>
        </article>
        <article class="row">
          <p class='col-8'>Cholesterole hyperlipidémie triglécéridémie</p>
          <q-toggle class='col-4' v-model="b2" color="secondary" true-value="Oui" :label="b2" false-value="Non"/>
        </article>
        <article class="row">
          <p class='col-8'>Diabète</p>
          <q-toggle class='col-4' v-model="b3" color="secondary" true-value="Oui" :label="b3" false-value="Non"/>
        </article>
        <article class="row">
          <p class='col-8'>Troubles du sommeil</p>
          <q-toggle class='col-4' v-model="b4" color="secondary" true-value="Oui" :label="b4" false-value="Non"/>
        </article>
        <article class="row">
          <p class='col-8'>Stress</p>
          <q-toggle class='col-4' v-model="b5" color="secondary" true-value="Oui" :label="b5" false-value="Non"/>
        </article>
        <article class="row">
          <p class='col-8'>Dépression</p>
          <q-toggle class='col-4' v-model="b6" color="secondary" true-value="Oui" :label="b6" false-value="Non"/>
        </article>
        </article>
        <article class="row">
          <p class='col-6'>Quelle est votre taille ?:</p>
          <q-input class='col-5' v-model="b71" type="number" inverted color='secondary' float-label="Entrez votre taille" suffix="cm" />
        </article>
        <article class="row">
          <p class='col-6'>Quel est votre poids ?:</p>
          <q-input class='col-5' v-model="b72" type="number" color='secondary' inverted float-label="Entrez votre poids" suffix="kg" />
        </article>
        <p>IMC de : {{( b71<0 || b72<0 ?"/":b72/((b71/100)*(b71/100)))}}</p>


        <q-btn
          color="primary"
          @click="mode = false"
          label="Valider"
        />
      </q-modal>
    </q-card>
</template>

<style>
</style>

<script>
export default {
  name: 'Qq_c',
  props:['titre','stitre','photo'],
  data () {
    return {
        b1: "Non",
        b2: "Non",
        b3: "Non",
        b4: "Non",
        b5: "Non",
        b6: "Non",
        b71:null,
        b72:null,
        mode:false,
        q1:0,
        q2:1,
        q3:0,
        q4:"",
        q5:0,
        coul:"red",
        opti:[
            {label: '1 journée',value: 1},
            {label: 'entre 2 et 4 jours',value: 2},
            {label: 'Presque tous les jours',value: 3},
            {label: 'Tous les jours',value: 4}
            ],
        rangeValues: {
          min: 2,
          max: 4
        }

    }
  },
  methods: {
    marco:function(){this.mode=!this.mode;},
    changecoul:function(){this.coul=(this.q3<2?"blue":(this.q3<4?"orange":"red"))}
  }

}
</script>
