<template>
    <q-card inline class="q-ma-sm" :color="coul">
      <q-card-media overlay-position="full">

          <img :src="photo">


        <q-card-title slot="overlay">
          {{titre}}
          <span slot="subtitle">{{stitre}}</span>
          <q-btn @click="marco" style="width:100%;height:300%;" flat />
        </q-card-title>
      </q-card-media>
      <q-modal v-model="mode" maximized style="height:736px;width:414px;margin:auto auto;">
        <h4>Questionnaire {{titre}}</h4>
        <article class="column">
          <p>Quelle est votre situation professionnelle ? :</p>

          <q-radio class="q-ml-xl" v-model="q1" val=1 color="secondary" label="En activité" />
          <q-radio class="q-ml-xl" v-model="q1" val=2 color="secondary" label="Chomage" />
          <q-radio class="q-ml-xl" v-model="q1" val=3 color="secondary" label="Longue maladie ou invalidité" />
          <q-radio class="q-ml-xl" v-model="q1" val=4 color="secondary" label="En retraite ou pré-retraite" />
        </article>

        <article v-if="q1==1 || q1==4" class="column q-mt-lg">
          <p>Quel est votre diplôme le plus élevé ?:</p>
          <q-radio class="q-ml-xl" v-model="q2" val=1 color="secondary" label="Primaire" />
          <q-radio class="q-ml-xl" v-model="q2" val=2 color="amber" label="Secondaire" />
          <q-radio class="q-ml-xl" v-model="q2" val=3 color="secondary" label="Universitaire" />

        </article>
        <q-btn
          v-if="q1==2 || q1==3 || q2!=0"
          color="primary"
          @click="validation()"
          label="Valider"
        />
      </q-modal>
    </q-card>
</template>

<style>
</style>

<script>
export default {
  name: 'Qq_s',
  props:['titre','stitre','photo'],
  data () {
    return {
        mode:false,
        q1:0,
        q2:0,
        q3:0,
        q4:"",
        q5:0,
        coul:"red",
        opti:[
            {label: '1 journée',value: 1},
            {label: 'entre 2 et 4 jours',value: 2},
            {label: 'Presque tous les jours',value: 3},
            {label: 'Tous les jours',value: 4}
            ],
        rangeValues: {
          min: 2,
          max: 4
        }

    }
  },
  methods: {
    marco:function(){this.mode=!this.mode;},
    changecoul:function(){this.coul=(this.q3<2?"blue":(this.q3<4?"orange":"red"))},
    validation:function(){

    this.$q.dialog({title: 'Message',message: (this.q1==2 || this.q1==3?"Risque élevé":(this.q2==3?"Risque faible":"Risque modéré")),color: 'primary',ok: true,stackButtons: true})
    .then(() => {
      this.mode = false
      })

    }
  }

}
</script>
