<template>
    <q-card inline class="q-ma-sm" :color="coul">
      <q-card-media overlay-position="full">

          <img :src="photo">


        <q-card-title slot="overlay">
          {{titre}}
          <span slot="subtitle">{{stitre}}</span>
          <q-btn @click="marco" style="width:100%;height:300%;" flat />
        </q-card-title>
      </q-card-media>
      <q-modal v-model="mode" maximized style="height:736px;width:414px;margin:auto auto;" >
        <h4>Questionnaire {{titre}} </h4>
        <q-timeline color="primary" style="padding: 0 24px;">
        <h5>Questionnaire sur votre comportement, <br/><small>4 parties : <br/> Alcool - Tabac  - Alimentation - Activité Physique</small></h5>
        <q-timeline-entry
          subtitle="Alcool"
          side="left"
          icon="local bar"

        >
          <div style="padding-bottom: 60px;">
            <article class="column">
              <p>Au cours de la derniere semaine avez-vous consommé de l'alcool ? <small>( du vin. bière , aperitif, ... ) </small>:</p>
              <q-radio class="q-ml-xl" v-model="q1" val=1 color="secondary" label="oui" />
              <q-radio class="q-ml-xl" v-model="q1" val=2 color="amber" label="non" />
            </article>
            <article v-if='q1==1' class="column q-mt-lg">
              <p>Durant cette dernière semaine combien de verres de alcool par jour avez-vous consommé ? :</p>
              <q-slider style="width:90%;margin-left:5%" v-model="q2" label-always :min="1" :max="28" :label-value="(q2==28?`>${q2-1} verres`:(q2==1?`${q2} verre`:`${q2} verres`))"
    />
            </article>
            <article v-if='q1==1'class="column q-mt-lg">
              <p>Quelle quantité maximum d'alcool par jour ?:</p>
              <q-rating class="q-ml-xl" label-always v-model="q3" :max="9" size="40px" icon="local bar" :color='coul' @input="changecoul"/>
            </article>
            <article v-if='q1==1' class="column q-mt-lg">
              <p>Combien de jour par semaine avez vous bu de l'alcool ?</p>
              <q-select v-model="q4" float-label="Selectionnez la valeur voulue" radio :options="opti"/>
            </article>
            <div class="row" style="margin-top:50px;">
              <small class='col-2'></small>
              <div>Vous etes {{(q1==2?"abstinent":((sexe=="h" && q2>27)||(sexe=="f" && q2>20)?"un gros buveur":((sexe=='h' && q2>13)||(sexe=='f' && q2>6)?"un buveur modéré":"un petit buveur")))}}</div>
              <small class='col-2'></small>
            </div>
          </div>
        </q-timeline-entry>
        <q-timeline-entry subtitle="Tabac" side="left" icon="cloud">
          <div style="padding-bottom: 60px;">
            <article class="column">
              <p>Avez-vous déjà fumé ? <small>(cigarette, pipe, cigare, cigarios,... ) </small>:</p>
              <q-radio class="q-ml-xl" v-model="r1" val=1 color="secondary" label="oui" />
              <q-radio class="q-ml-xl" v-model="r1" val=0 color="amber" label="non" />
            </article>
            <article v-if="r1==1" class="column">
              <p>Fumez-vous actuellement ? :</p>
              <q-radio class="q-ml-xl" v-model="r2" val=1 color="secondary" label="oui" />
              <q-radio class="q-ml-xl" v-model="r2" val=0 color="amber" label="non" />
            </article>
            <div class="row" style="margin-top:50px;">
              <small class='col-2'></small>
              <div>Vous etes {{(r1==0?"non-fumeur":(r2==1?"fumeur":"un ex-fumeur"))}}</div>
              <small class='col-2'></small>
            </div>
          </div>
        </q-timeline-entry>
        <q-timeline-entry
          subtitle="Alimentation"
          side="left"
          icon="local_dining"
        >
          <div style="padding-bottom: 60px;">
            <article class="q-mt-lg">
              <p>Combien de fois par semaine prenez-vous un :</p>
              <div class="row">
                <p class='col-4'>- petit-déjeuner ? </p>
                <q-slider class='col-8' v-model="s1" label-always :min="0" :max="7" :label-value="(s1<2?`${s1} petit-déjeuner`:`${s1} petits-déjeuners`)"/>
              </div>
              <div class="row">
                <p class='col-4'>- déjeuner ? </p>
                <q-slider class='col-8' v-model="s2" label-always :min="0" :max="7" :label-value="(s2<2?`${s2} déjeuner`:`${s2} déjeuners`)"/>
              </div>
              <div class="row">
                <p class='col-4'>- diner ? </p>
                <q-slider class='col-8' v-model="s3" label-always :min="0" :max="7" :label-value="(s3<2?`${s3} diner`:`${s3} diners`)"/>
              </div>
              <small>score régularité: {{(s1+s2+s3)/3}}</small>
            </article>
            <article class="q-mt-lg">
              <p>Mangez-vous quelque chose entre :</p>
              <div class="row">
                <p class='col-8'>- petit-déjeuner et le déjeuner ? </p>
                <q-checkbox class='col-3' v-model="s4" toggle-indeterminate :label='(s4==null?"?":(s4==1?"Oui":"Non"))' />
              </div>
              <div class="row">
                <p class='col-8'>- petit-déjeuner et le déjeuner ? </p>
                <q-checkbox class='col-4' v-model="s5" :label='(s5==null?"?":(s5==1?"Oui":"Non"))' toggle-indeterminate />
              </div>
              <div class="row">
                <p class='col-8'>- petit-déjeuner et le déjeuner ? </p>
                <q-checkbox class='col-3' v-model="s6" toggle-indeterminate :label='(s6==null?"?":(s6==1?"Oui":"Non"))' />
              </div>
              <small>score grignotage: {{(s4+s5+s6)/3}}</small>
            </article>

            <article class="column q-mt-lg">
              <p>De façon habituelle combien de fois par semaine mangez vous :</p>
              <div class="row">
                <q-select class='col-6' v-model="s7" prefix=" - du poisson : " :options="choi" />
                <q-select class='col-6' v-model="s8" prefix=" - des l'huile : " :options="choi" />
                <q-select class='col-6' v-model="s9" prefix=" - des crudités : " :options="choi" />
                <q-select class='col-6' v-model="s10" prefix=" - de la viande : " :options="choi" />
                <q-select class='col-6' v-model="s11" prefix=" - de la charcuterie : " :options="choi" />
                <q-select class='col-6' v-model="s12" prefix=" - des oeufs : " :options="choi" />
                <q-select class='col-6' v-model="s13" prefix=" - des féculents : " :options="choi" />
                <q-select class='col-6' v-model="s14" prefix=" - des aliments fris : " :options="choi" />
                <q-select class='col-6' v-model="s15" prefix=" - des desserts : " :options="choi" />
                <q-select class='col-6' v-model="s16" prefix=" - de la volaille : " :options="choi" />
                <q-select class='col-6' v-model="s17" prefix=" - des fruits frais : " :options="choi" />
                <q-select class='col-6' v-model="s18" prefix=" - des légumes cuits : " :options="choi" />
                <q-select class='col-6' v-model="s19" prefix=" - du pain : " :options="choi" />
                <q-select class='col-6' v-model="s23" prefix=" - du fromage : " :options="choi" />
                <q-select class='col-6' v-model="s21" prefix=" - des laitages : " :options="choi" />
                <q-select class='col-6' v-model="s22" prefix=" - du beurre : " :options="choi" />
                <q-select class='col-5' v-model="s20" prefix=" - du lait : " :options="choi" />
                <div class="col-7 column">
                  <small class='row-6'>score aliments déséquilibrés: {{(s15*2+s10+s11+s14+s22+s23)/7}}</small>
                  <small class='row-6'>score aliments équilibrés: {{(s7+s8+s9+s12+s13+s16+s17+s18+s19+s20+s21)/11}}</small>
                </div>
              </div>
              <div class="row" style="margin-top:50px;">
                <small class='col-2'></small>
                <div>{{(((s7+s8+s9+s12+s13+s16+s17+s18+s19+s20+s21)/11/((s15*2+s10+s11+s14+s22+s23)/7)<0.4)?"Alimentation déséquilibrée":(((s7+s8+s9+s12+s13+s16+s17+s18+s19+s20+s21)/11/((s15*2+s10+s11+s14+s22+s23)/7)>0.74)?"Alimentation équilibrée":"Alimentation intermédiaire"))}}</div>
                <small class='col-2'></small>
              </div>
            </article>
          </div>
        </q-timeline-entry>
        <q-timeline-entry
          subtitle="Activité physique"
          side="left"
          icon="public"
        >
          <div style="padding-bottom: 100px;">
            <article class="column">
              <p> Pratiquez vous du sport ? <br/><small> quelque soit la fréquence ( occasionnel , régulière ou de compétition  </small>:</p>
              <q-radio class="q-ml-xl" v-model="t1" val=1 color="secondary" label="oui" />
              <q-radio class="q-ml-xl" v-model="t1" val=0 color="amber" label="non" />
            </article>
          </div>
        </q-timeline-entry>
        <q-timeline-entry ></q-timeline-entry>
      </q-timeline>
        <q-btn
          color="primary"
          @click="mode = false"
          label="Valider"
        />
      </q-modal>
    </q-card>
</template>

<style>
</style>

<script>
export default {
  name: 'Qqq',
  props:['titre','stitre','photo','sexe'],
  data () {
    return {
        k:this.sexe,
        mode:false,
        q1:0,
        q2:1,
        q3:0,
        q4:"",
        r1:2,
        r2:2,
        s1:0,s2:0,s3:0,
        s4:null,s5:null,s6:null,
        s7:null,s8:null,s9:null,s10:null,
        s11:null,s12:null,s13:null,s14:null,
        s15:null,s16:null,s17:null,s18:null,s19:null,
        s20:null,s21:null,s22:null,s23:null,
        t1:2,
        choi: [
                {label: '0',value: 0},{label: '1',value: 1},{label: '2',value: 2},{label: '3',value: 3},
                {label: '4',value: 4},{label: '5',value: 5},{label: '6',value: 6},{label: '7',value: 7},
                {label: '8',value: 8},{label: '9',value: 9},{label: '10',value: 10},{label: '11',value: 11},
                {label: '12',value: 12},{label: '13',value: 13},{label: '14',value: 14},{label: '15',value: 16},
                {label: '17',value: 17},{label: '18',value: 18},{label: '19',value: 19},{label: '20',value: 20},
                {label: '21',value: 21},{label: '22',value: 22},{label: '23',value: 23},{label: '24',value: 24},
                {label: '25',value: 25},{label: '26',value: 26},{label: '27',value: 27},{label: '>27',value: 28},
              ],
        coul:"red",

        opti:[
            {label: '1 journée',value: 1},
            {label: 'entre 2 et 4 jours',value: 2},
            {label: 'Presque tous les jours',value: 3},
            {label: 'Tous les jours',value: 4}
            ],
        rangeValues: {
          min: 2,
          max: 4
        }

    }
  },
  methods: {
    marco:function(){this.mode=!this.mode;},
    changecoul:function(){this.coul=(this.q3<2?"blue":(this.q3<4?"orange":"red"))}
  }

}
</script>
