<template>
  <div class="flex center-flex">
    <h2>Questionnaire</h2>
    {{sexe}}{{s}}
      <Qqq titre="Comportement" stitre="Alcool,Tabac,Alimentation,Activité Physique" photo="statics/compo.jpg" :sexe="s" />
      <Qq_c titre="Clinique" stitre="" photo="statics/stetho.gif"/>
      <Qq_s titre="Social" stitre="" photo="statics/social.jpg" @click="marco" />
  </div>
</template>

<style>
</style>

<script>
import Qqq from './Qqq'
import Qq_s from './Qq_s'
import Qq_c from './Qq_c'

export default {
  name: 'Questionnaires',
  props:['sexe'],
  components:{Qqq,Qq_s,Qq_c},
  data () {
    return {
      s: this.sexe


    }
  },
  methods: {
    marco:function(){alert("yoplait");}
  }

}
</script>
