<template>
  <div >
    <q-page class="flex-center flex" v-if="!connecter">
      <section>
      <q-field
          :error="erreur"
          error-label="Identifiants inconnus"
          :warning="attent"
          warning-label="Champs obligatoire"
          icon="supervisor_account"
          icon-color='primary'
        >
          <q-input v-model="idu" float-label="id utilisateur" inverted />
      </q-field>
      <q-field
          :error="erreur"
          error-label="Identifiants inconnus"
          :warning="attent"
          warning-label="Champs obligatoire"
          icon="rate_review"
          icon-color='primary'
        >
          <q-input v-model="pwd" float-label="Mot de passe"  inverted type="password"/>
      </q-field>
      <q-btn color="primary" inverted outline label="Se connecter" @click='seconnecter' />
      <q-btn color="primary" @click="marco" label="s'inscrire" flat />
    </section>

    <q-modal v-model="mode" maximized style="height:736px;width:414px;margin:auto auto;" >
      <h4>Inscription</h4>
      <article class="column">
        <q-input v-model="idu" float-label="identifiant" disable inverted type="text"/>
        <q-input v-model="pwd" float-label="Mot de passe"  inverted type="password"/>

      </article>

      <article class="row">
        <p class="col-8">Quelle est votre année de naissance ? :</p>
        <q-input class="col-4" v-model="annee" float-label="année de naissance" />
      </article>
      <article class="row">
        <p class="col-8">Quelle est votre sexe ? :</p>
        <q-select class="col-4" v-model="sexe" float-label="Selectionnez la valeur voulue" radio :options="opti"/>
      </article>
      <article class="row">
        <p class="col-8"> Avez-vous déjà eu une maladie cardiovasculaire <br/><small> ( un infarctus du myocarde, une angine de poitrine, unAVC avec ou sans paralysie, une attaque,ou une hémoragie cérébrale)</small>  :</p>
        <q-select class="col-4" v-model="ante" float-label="Selectionnez la valeur voulue" radio :options="ouinon"/>
      </article>
      <article class="row">
        <p class="col-8">Vos parents ont-ils souffert d'un infarctus précoce avantl'age de 60 ans ? :</p>
        <q-select class="col-4" v-model="antefam" float-label="Selectionnez la valeur voulue" radio :options="ouinon"/>
      </article>

      <q-btn
        color="primary"
        @click="polo"
        label="s'inscrire"
      />
    </q-modal>
    </q-page>
    <section v-else >
      <q-tabs>

        <q-tab  label="Profil" slot="title" name="p" icon="account_box" />
        <q-tab  default label="Questionnaires" slot="title" name="q" icon="edit" />
        <q-tab  label="INM" count="5" slot="title" name="i" icon="local_hospital" />


        <q-tab-pane name="p"><Profil /></q-tab-pane>
        <q-tab-pane name="q"><Questionnaires :sexe='sexe' /></q-tab-pane>
        <q-tab-pane name="i"><Inm /></q-tab-pane>
      </q-tabs>
      <q-btn icon="account_circle" label="se deconnecter" flat @click='sedeconnecter' class="fixed-bottom-right" style="margin: 0 0 0 0;"></q-btn>
    </section>
  </div>
</template>

<style>
</style>

<script>
import Questionnaires from 'components/Questionnaires'
import Profil from 'components/Profil'
import Inm from 'components/Inm'

export default {
  name: 'PageIndex',
  components:{Questionnaires,Profil,Inm},
  data () {
    return {
      connecter:false,
      erreur:false,
      attent:false,
      idu:"",
      pwd:"",
      sexe:null,
      mode:false,
      opti:[
          {label: 'un Homme',value: "h"},
          {label: 'une Femme',value: "f"}
          ],
      ouinon:[
          {label: 'Oui',value: 1},
          {label: 'Non',value: 0}
          ],
      ante:null,
      antefam:null,
      annee:null


    }
  },
  methods: {
    marco:function(){
      this.idu=5300023
      this.mode=true;
      },
      polo:function(){
        this.pwd="coucou"
        this.mode=false;
        this.connecter=true
        },
    changer: function () {
      this.connecter=!this.connecter
    },
    seconnecter: function(){
      if( this.idu==" " || this.idu=="" || this.pwd==" " || this.pwd=="" ){this.erreur=false;this.attent=true;}
      else if (this.pwd != "coucou"){this.attent=false;this.erreur=true;}
      else {
        this.sexe="f",
        this.connecter=true;

      }
    },
    sedeconnecter: function(){
      this.$q.notify({  message: `Deconnexion`,timeout: 3000, type: 'positive',position:'top'})
      this.connecter=false;
    }
  },

}
</script>
