<template>
  <q-layout view="lHh Lpr lFf" style="height:736px;width:414px;margin:auto auto;border-left: 1px gray solid;border-right: 1px gray solid;" >
    <q-layout-header>
      <q-toolbar
        color="primary"
        :inverted="inv"
      >

        <q-toolbar-title>
          INM Personnalisées
          <div slot="subtitle">pour les risques cardio-vasculaires</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      inv:true
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
